*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f3f4;
    font-family: sans-serif;
    overflow-x: hidden
}
/*<!-- first menu   -->*/
.logo{
    
    width: 100px;
    margin-top: -10px;
    height: 70px !important;
    
/*     margin: 5px 0px;*/
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
    
}

.dropdown-content a {
  color: black;
  padding: 12px 15px 12px 0 ;
  text-decoration: none;
  display: block;
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    z-index: 10;
}

.dropdown-content a:hover {
  background-color: orange;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 22;
     
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text{
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 1% 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box{
    display:inline-flex;
    width: 60%;
    height: inherit;
    
}
.fa-search{
    color: #fff;
}
.fa-search:hover{
    color: black;
}
.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
    z-index: 10;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
    height: 60px;
}
.menu-bar ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 3px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    z-index: 10;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}

.menu-bar ul li a:hover{
    color: black;
   
}
.fa-angle-right{
    margin-top: 4px;
    margin-right: 8px;
    float: right;    
}
#menu-btn, #close-btn{
    font-size: 30px;
    margin: 10px;
    color: orange;
    display: none;
}

/*<!-- first menu   -->*/

/*<!--    second menu-->*/
.side-menu{
    height: auto !important;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}
.side-menu ul{
    margin-left: 10px;
}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    
}
.side-menu ul li:hover{
    color: orange;
}

.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul{
    display: block;
    height: auto;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1pxrgba(0,0,0,0.5);
}
/*<!--    second menu-->*/

/*loader*/

.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}
/*end loader*/

/*-------------------------------slider*/
.slider{
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
   
/*    top: 50% !important;*/
}
.carousel{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5); 
}
.corousel-indicators{
    z-index: 1 !important
}
.carousel-item img{
    height: 400px; 
}
/*------------------------------slider*/
/*start of featured-categories*/
.featured-categories{
    margin: 50px 0;
}
.featured-categories img{
    width: 100%;
    height: 200px;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover{
    transform: scale(1.1);
}


/*<!--    .............. start on sale-->*/
.title-box{
    background: orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    
}
.title-box h2{
    font-size: 24px;
}
.title-box::after{
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}
/*<!--    .............. end on sale-->*/

/*end of featured-categories*/
/*.............................product top */
.product-top img{
    width: 100%;
   
}
.product-top img:hover{
     background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) !important;
}
.overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
     
}
.overlay-right #fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 25px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    
    
}
.overlay-right .btn-secondary{
    background: none  !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
/*.............................product top */


/*.............................product bottom */
.product-bottom #fa{
     color: orange;
    font-size: 10px;
    
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
    
}
.product-bottom h5{
    font-size: 15px;
      padding-bottom: 10px;
}
/*..........................new product*/
.new-product{
    margin:50px 0;  
}

/*...................website-features*/
.website-features{
    margin: 60px 0;
    text-align: center;
}
.website-features img{
    width: 20%;
}
.feature-text{
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}
.feature-box{
   padding-top: 20px; 
}
.single-product{
    margin-top: 70px;
}
.new-arrival{
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.col-md-7 h2{
    color: #555;
    text-transform: uppercase;
}
.single-product #fa{
    color: orange;
}
.single-product .price{
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.single-product .btn-primary{
    background: orange !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

/*product description*/
.product-description h6{
    margin-top: 50px;
    color: orange;
}
.product-description p{
    margin-top: 30px;
    
}
.product-description hr{
    margin-bottom: 50px;
}
/*product description*/
/*...................website-features*/





/*-------------------------------product shoes-------------------*/


.containerr{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}

.shoeBackground{
    position: relative;
    width: 50%;
    height: 475px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.gradients{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.first{
    z-index: 0;
    animation: 1s width ease;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}

.gradient[color="blue"]{
    background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="red"]{
    background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="green"]{
    background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="orange"]{
    background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="black"]{
    background-image: linear-gradient(45deg, #111, #666);
}

.logoo{
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
}

.share{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary);
    transition: .5s;
}

.share:hover{
    transform: scale(1.1);
}

.share i{
    line-height: 50px;
}

.nike{
    position: absolute;
    top: 85px;
    left: 15px;
    font-size: 11rem;
    text-transform: uppercase;
    line-height: .9;
    color: #fff;
    opacity: .1;
}

.shoe{
    position: absolute;
    width: 140%;
    opacity: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-20deg);
    transition: .5s;
}

.shoe.show{
    opacity: 1;
}

.info{
    width: 50%;
    background-color: #fff;
    z-index: 1;
    padding: 35px 40px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName{
    padding: 0 0 10px 0;
}

.shoeName div{
    display: flex;
    align-items: center;
}

.shoeName div .big{
    margin-right: 10px;
    font-size: 2rem;
    color: #333;
    line-height: 1;
}

.shoeName div .new{
    background-color: var(--primary);
    text-transform: uppercase;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    transition: .5s;
}

.shoeName .small{
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    text-transform: capitalize;
}

.shoeName, .description, .color-container, .size-container{
    border-bottom: 1px solid #dadada;
}

.description{
    padding: 10px 0;
}

.title{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.text{
    color: #555;
    font-size: 17px;
}

.color-container{
    padding: 10px 0;
}

.colors{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: .5s;
}

.color[color="blue"]{
    background-color: #2175f5;
    border-color: #2175f5;
}

.color[color="red"]{
    background-color: #f84848;
    border-color: #f84848;
}

.color[color="green"]{
    background-color: #29b864;
    border-color: #29b864;
}

.color[color="orange"]{
    background-color: #ff5521;
    border-color: #ff5521;
}

.color[color="black"]{
    background-color: #444;
    border-color: #444;
}

.color.active{
    border-color: #fff;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.size-container{
    padding: 10px 0;
    margin-bottom: 10px;
}

.sizes{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.size{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #eee;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.size.active{
    background-color: var(--primary);
    color: #fff;
    transition: .5s;
}

.buy-price{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    color: #333;
    display: flex;
    align-items: flex-start;
}

.price h1{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
}

.price i{
    font-size: 1.4rem;
    margin-right: 1px;
}

.buy{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
}

.buy:hover{
    transform: scale(1.1);
}

.buy i{
    margin-right: 2px;
}

@media (max-width: 1070px){
    .shoe{
        width: 135%;
    }
}

@media (max-width: 1000px){
    .card{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
    }

    .shoe{
        width: 100%;
        transform: rotate(-5deg) translateY(-50%);
        top: 55%;
        right: 2%;
    }

    .nike{
        top: 20%;
        left: 5%;
    }
}

@media (max-width: 600px){
    .share{
        width: 40px;
        height: 40px;
    }

    .share i {
        font-size: 1rem;
        line-height: 40px;
    }

    .logo{
        width: 70px;
    }
}

@media (max-width: 490px){
    .nike{
        font-size: 7rem;
    }

    .shoeName div .big{
        font-size: 1.3rem;
    }

    .small{
        font-size: 1rem;
    }

    .new{
        padding: 2px 6px;
        font-size: .9rem;
    }

    .title{
        font-size: .9rem;
    }

    .text{
        font-size: .8rem;
    }

    .buy{
        padding: .5rem .8rem;
        font-size: .8rem;
    }

    .price h1{
        font-size: 1.5rem;
    }

    .price i{
        font-size: .9rem;
    }

    .size{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        font-size: .9rem;
        line-height: 30px;
    }

    .color{
        margin: 0 6px;
        width: 0 20px;
        width: 20px;
        height: 20px;
        border-width: 4px;
    }

    .share{
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
    }

    .share i{
        font-size: .8rem;
        line-height: 35px;
    }

    .logo{
        width: 60px;
        top: 10px;
        left: 10px;
    }

    .info{
        padding: 20px;
    }
}

@media (max-width: 400px){
    .buy i{
        display: none;
    }

    .containerr{
        padding: 20px;
    }
}
/*-------------------------------product shoes-------------------*/







/*....................footer*/
.footer{
   margin-top: 50px;
    background: #aaa;
    color: #fff;
}
.footer h1{
    font-size: 20px;
    margin: 25px 0;
    color: black;
    
}
.footer p{
    font-size: 16px;
}
.copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    
}
.fa-heart{
    color: red;
    font-size: 15px;
}
.footer hr{
    margin-bottom: 10px;
    background-color: black;
}
.footer-image img{
  height: 150px;
}
.footer .row .fab{
   padding-right: 20px;
    font-size: 3px;
}
/*....................footer*/
@media only screen and (max-width:980px){
    .top-nav-bar{
        height: 20px;
        border-bottom: 0;
        padding: 0 10px;
        
    }
    .search-box{
        width: 100%;
    }
    .menu-bar{
        width: 100%;
        top: 10%;
        
        
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
        
    }
    .menu-bar ul li{
       height: 57px;
        width: 100%;
    
    }
    .menu-bar ul li a{
        font-size: 14px;
    }
    .form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text{
    background: orange !important;
    border: 1px solid orange !important;
   height: 40px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
    .side-menu{
        width: 34%;
        z-index: 20;
        top: 20%;
        position: fixed;
        font-size: 10px;
        display: none;
        
    }
    .side-menu ul li ul{
        top:20%;
        
    }
    .side-menu ul li:hover ul{
        margin-left: 31%;
    }
    
    #menu-btn{
        display: block;
    }
    .slider{
        width: 100%;  
        margin-left: 0 !important;
    }
    .carousel-inner{
        margin-top: 35% !important;

    }
    .carousel-item img{
    height: 200px; 
}
    .overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
     
}
.overlay-right #fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 25px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    
    
}
.overlay-right .btn-secondary{
    background: none  !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
   
}


/* footer */

